<div class="container">
    <div class="row mt-2">
        <div class="col-12 col-sm-4 col-lg-7 mb-2" *ngIf="!getPerfilUsuario()">
            <a class="btn btn-primary px-4" data-bs-target="#agregarPregunta" data-bs-toggle="modal"> <span><img src="../../assets/add.png" id="iconoAdicionar">&nbsp;Añadir pregunta</span></a>
        </div>
        <div class="col-12 col-sm-4 col-lg-3 mb-2" >
            <input type="text" class="form-control" 
            [(ngModel)]="busqueda" 
            (input)="buscarPregunta()"
            placeholder="Buscar" 
            aria-label="Buscar" >
        </div>
        <div class="col-12 col-sm-4 col-lg-2 mb-2 btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle px-4" data-bs-toggle="dropdown" aria-expanded="false">
                Ordenar por
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="ordenar('porTitulo')">Por título</a></li>
                <li><a class="dropdown-item" (click)="ordenar('porPregunta')">Por pregunta</a></li>
            </ul>
        </div>     
    </div>
  
    <ol class="container container-small list-group">
      <div *ngFor="let pregunta of misPreguntas">
        <li class="list-group-item d-flex justify-content-between align-items-start" >
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{pregunta.title}}</div>
            {{pregunta.question}}
          </div>
          <button class="btn btn-link" data-bs-target="#editarPregunta" data-bs-toggle="modal" (click)="editarPreguntaVista(pregunta.id,pregunta.title, pregunta.question,
          pregunta.palabclvs, pregunta.answer_id, pregunta.opcions, pregunta.access, pregunta.difficulty, pregunta.foto_id)"><img src="../../assets/edit.png"></button>
          &nbsp;
          <button class="btn btn-link" (click)="eliminarPregunta(pregunta.id)"><img src="../../assets/trash.png"></button>
        </li>
      </div>
    </ol>
  </div>

  <app-agregar-question></app-agregar-question>

<!-- Modal para Editar -->
<div class="modal fade" id="editarPregunta">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <div class="text-center">
            <h5 class="modal-title" id="registroLabel">Editar una pregunta</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form [formGroup] = "datosPreguntas" class="login-form" (ngSubmit)="enviarEdicion(datosPreguntas.value)">
      <div class="modal-body">
          <div class="form-group">
              <label><b>Título</b></label>
              <input type="text" class="form-control" placeholder="Pregunta Mitocondria 1" formControlName=title>
          </div>
          <br>
          <div class="form-group">
              <label><b>Pregunta</b></label>
              <input type="text" class="form-control" placeholder="¿Qué nombre recibe la siguiente estructura?" formControlName=question>
          </div>
          <br>
          <div class="form-group">
              <label><b>Palabras clave</b></label>
              <mat-form-field class="example-chip-list" appearance="fill">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let keyword of keywords" (removed)="remove(keyword)">
                        {{keyword}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input placeholder="Introduce una etiqueta..."
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
            </mat-form-field>
          </div>
          <br>
          <div class="form-group">
              <label><b>Respuesta</b></label>
              <input type="text" class="form-control" placeholder='Mitocondria' formControlName=answer>
          </div>
          <br>
          <div class="form-group">
              <label><b>Opción alternativa 1</b></label>
              <input type="text" class="form-control" placeholder='Ribosoma' formControlName=option1>
          </div>
          <br>
          <div class="form-group">
              <label><b>Opción alternativa 2</b></label>
              <input type="text" class="form-control" placeholder='Libosoma' formControlName=option2>
          </div>
          <br>
          <div class="form-group">
              <label><b>Opción alternativa 3</b></label>
              <input type="text" class="form-control" placeholder='Ninguno de los anteriores' formControlName=option3>
          </div>
          <br>
          <div class="form-group">
              <label><b>Tipo de acceso</b></label><br>
              <input type="radio" value="public" id="accesoPublico" name="access" formControlName="access">
              &nbsp;<label for="accesoPublico" class="textoAyuda" data-bs-toggle="tooltip" title="Otros profesores podrán ver y utilizar tu pregunta">Público</label><br>
              <input type="radio" value="private" id="accesoPrivado" name="access" formControlName="access">
              &nbsp;<label for="accesoPrivado" class="textoAyuda" data-bs-toggle="tooltip" title="Solo tú podrás ver y utilizar tu pregunta">Privado</label>
              
          </div>
          <br>
          <div class="form-group">
              <label><b>Dificultad (1 al 5)</b></label>
              <input type="number" id="dificultad" class="form-control" placeholder='3' min="1" max="5" formControlName=difficulty>
          </div>
          <br>
          <div class="form-group">
              <label><b>Imagen</b></label><br>
              <div class="text-center"><a class="btn btn-link px-4" data-bs-target="#escogerImagenEdicion" data-bs-toggle="modal"><span>Seleccionar imagen</span></a></div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Editar pregunta</button>
      </div>
  </form>
    </div>
</div>
</div>

<div class="modal fade" id="escogerImagenEdicion">
  <div class="container" id="tarjetasImag">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
              <div class="modal-header">
                  <div class="text-center">
                      <h5 class="modal-title" id="registroLabel">Seleccionar una imagen</h5>
                  </div>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 mt-4" *ngFor="let Imagen of misImagenes">
                      <div class="card">
                              <img class="imgPrincipal" src={{imagenesURL}}{{Imagen.filename}} (click)="escogerImagenEdicion(Imagen.id)" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#editarPregunta">
                              
                          <div class="card-body" id="cardInfo">
                              <h5 class="card-title text-center">{{Imagen.title}}</h5>
                              <div class="text-center" id="imgOpciones">
                              </div>
                          </div>
                      </div>
                  <br>
                  </div>
              </div>
              </div>
          </div>
  </div>
</div>