#iconoAdicionar {
	filter:invert(1);
	width: 15px;
	padding-bottom: 3px;
}

img:hover{
	cursor:pointer;
}

.textoAyuda {
	position: relative;
	display: inline-block;
	border-bottom: 0.3vh dotted black;
}

.example-chip-list {
    width: 100%;
  }