<div class="container" id="tarjetasImag">
    
    <div class="row mt-2">
        <div class="col-12 col-sm-4 col-lg-7 mb-2">
            <a class="btn btn-primary px-4" data-bs-target="#agregarImagen" data-bs-toggle="modal"> <span><img src="../../assets/add.png" id="iconoAdicionar">&nbsp;Añadir imagen</span></a>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 mb-2" >
            <input type="text" class="form-control " placeholder="Buscar" aria-label="Buscar" >
        </div>
        <div class="col-7 col-sm-4 col-lg-2 mb-2">
            <button type="button" class="btn btn-outline-primary dropdown-toggle px-4" data-bs-toggle="dropdown" aria-expanded="false">
                Ordenar por
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="ordenar('masReciente')" >Más reciente</a></li>
                <li><a class="dropdown-item" (click)="ordenar('masAntiguo')" >Más antiguo</a></li>
                <li><a class="dropdown-item" (click)="ordenar('alfabet_AZ')">Propietario (A-Z)</a></li>
                <li><a class="dropdown-item" (click)="ordenar('alfabet_ZA')">Propietario (Z-A)</a></li>
            </ul>
        </div>          
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 mt-4" *ngFor="let Imagen of misImagenes">
            <div class="card">
                    
                    <img class="imgPrincipal " src= {{imagenesURL}}{{Imagen.filename}}>
                    
                <div class="card-body" id="cardInfo">
                    <h5 class="card-title text-center">{{Imagen.title}}</h5>
                    <div class="text-center" id="imgOpciones">
                    <button class="btn btn-link" (click)="editarImagenVista(Imagen.id,Imagen.title, Imagen.desc, Imagen.palabclvs)" data-bs-target="#editarImagen" data-bs-toggle="modal" ><img src="../../assets/edit.png"></button>
                    &nbsp;
                    <button class="btn btn-link" (click)="eliminarImagen(Imagen.id)"><img src="../../assets/trash.png"></button>
                    </div>
                </div>
            </div>
        <br>
        </div>
    </div>

    <app-agregar-img></app-agregar-img>
</div>
    <!-- Modal para Editar -->
    <div class="modal fade" id="editarImagen">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <div class="text-center">
                <h5 class="modal-title" id="registroLabel">Editar una imagen</h5>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="login-form" (ngSubmit)="enviarEdicion()">
            <div class="modal-body">
                <div class="form-group">
                    <label><b>ID de imagen</b></label>
                    <input type="number" class="form-control" id="idImagen" readonly>
                </div>
                <div class="form-group">
                    <label><b>Título</b></label>
                    <input type="text" (change)="getTitle(title.value)" class="form-control" placeholder="Mitocondria ejemplo 2" id="titulo" #title>
                </div>
                <br>
                <div class="form-group">
                    <label><b>Descripción</b></label>
                    <input type="text" (change)="getDesc(desc.value)" class="form-control" placeholder="Describe a la imagen" id="descripcion" #desc>
                </div>
                <br>
                <div class="form-group">
                    <label><b>Palabras clave</b></label>
                    <input type="text" (change)="getKeywords(keywords.value)" class="form-control" placeholder='["corazon", "celula"]' id="palabclv" #keywords>
                </div>
                <br>
                <div class="form-group">
                    <label><b>Subir imagen (*.jpg)</b></label>
                    <input type="file" (change)="capturarFile($event)" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Editar imagen</button>
            </div>
        </form>
        </div>
    </div>
    </div>

