.btn-edit{
	color: orange;
}

#tarjetasImag .row .imgPrincipal{
	height: 300px;
	object-fit: contain;
}

.imgPrincipal:hover {
	cursor: pointer;
}

.example-chip-list {
    width: 100%;
}

.with-icon {
    display: flex;
    align-items: center;
}

.mat-icon {
    vertical-align: bottom;
    font-size: 24px;
}