
#iconoAdicionar {
	filter:invert(1);
	width: 15px;
	padding-bottom: 3px;
}

#tarjetasImag .row .imgPrincipal{
	height: 300px;
	object-fit: contain;
}

.imgPrincipal:hover {
	cursor: pointer;
}

.example-chip-list {
    width: 100%;
  }