<nav class="navbar navbar-expand-lg" id="navBar">
    <div class="container">
        <a class="navbar-brand" routerLink="/home"><h2>Histolok</h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/pregunta">Ejercicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Práctica</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    UADY
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/userProfile">Mi perfil</a></li>
                        <li><a class="dropdown-item" routerLink="/userList">Ver lista de usuarios</a></li>                        
                        <li><a class="dropdown-item" routerLink="/images">Gestionar mis imágenes</a></li>
                        <li><a class="dropdown-item" routerLink="/questions">Gestionar mis preguntas</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Agregar ejercicio</a>
                </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <button type="button" data-bs-target="#iniciarSesion" data-bs-toggle="modal"  class="btn btn-dark" id="loginButton">Iniciar Sesión</button>
                    <button type="button" class="btn btn-dark" id="logoutButton" (click)="cerrarSesion()">Cerrar Sesión</button>                    
                </ul>
        </div>
    </div>
    <app-login></app-login>
</nav>

