.with-icon {
  display: flex;
  align-items: center;
}
  
.mat-icon {
  vertical-align: bottom;
  font-size: 18px;
  color: gray;
}

.textoAyuda {
	position: relative;
	display: inline-block;
	border-bottom: 0.3vh dotted black;
}

.example-chip-list {
  width: 100%;
}

.return-button{
  display: flex;
  align-items: center;
  color: rgb(48, 59, 97);
}

.return-button .mat-icon{
  font-size: 24px;
  color: rgb(48, 59, 97);
}