<div class="container text-center">
    <h1>Resultados del examen</h1><br>
    <p>Número total de preguntas: {{resultados.n_answered}}</p>
    <p>Número de aciertos: {{resultados.n_correct}}</p>
    <p>Tiempo de inicio del examen (Fecha y horario del servidor): {{resultados.start_time}}</p>
    <p>Tiempo de finalización del examen (Fecha y horario del servidor): {{resultados.end_time}}</p>
</div>

<!-- Apartado designado para la retro cuando esté lista-->
<ol class="container container-small list-group px-0"> 
    <div *ngFor="let inciso of incisosExamen; let i = index">
      <li class="list-group-item d-flex justify-content-between" >
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{inciso.title}}</div>
          {{inciso.question}}
          <div (click)="respuestasCorrectasYUsuario(arrayRespuestas[i],i)" (click)="mostrarImagen(inciso.foto.filename)">
            Ver solución del inciso
          </div>
        </div>
      </li>
    </div>
  </ol>