<div class="container text-center">
    <h1>Resultados del examen</h1><br>
    <p>Número total de preguntas: {{resultados.n_answered}}</p>
    <p>Número de aciertos: {{resultados.n_correct}}</p>
    <p>Tiempo de inicio del examen (Fecha y horario del servidor): {{resultados.start_time}}</p>
    <p>Tiempo de finalización del examen (Fecha y horario del servidor): {{resultados.end_time}}</p>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 mt-4" *ngFor="let respuesta of respuestas">
        <div>

            <img class="imgPrincipal" src= {{imagenesURL}}{{respuesta.filename}}
            (click)="mostrarImagen(respuesta)">
                
            <div class="card-body" id="cardInfo">
                <h5 class="card-title text-center">{{respuesta.title}}</h5>
                <div class="text-center" id="imgOpciones">
                </div>
            </div>
        </div>
    <br>
    </div>
</div>

<!-- Apartado designado para la retro cuando esté lista-->
<ol class="container container-small list-group px-0"> 
    <div *ngFor="let respuesta of respuestas">
      <li class="list-group-item d-flex justify-content-between" >
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{respuesta.title}}</div>
          {{respuesta.question}}
        </div>
        <div class="with-icon">
          <button class="btn btn-link" mat-icon-button (click)="mostrarImagen(respuesta)">
              <mat-icon>visibility</mat-icon>
          </button>
          &nbsp;&nbsp;
          <button class="btn btn-link btn-edit" mat-icon-button  data-bs-target="#editarPregunta"
              data-bs-toggle="modal">
              <mat-icon>Tu escogiste</mat-icon>
          </button>
          &nbsp;&nbsp;
          <button class="btn btn-link" mat-icon-button color="warn">
              <mat-icon>La correcta era</mat-icon>
          </button>
        </div>
      </li>
    </div>
  </ol>