<div class="modal fade" id="agregarImagen">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <div class="text-center">
                <h5 class="modal-title" id="registroLabel">Agregar una imagen</h5>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup] = "datosImagenes" class="login-form" (ngSubmit)="submitForm()">
            <div class="modal-body">
                 
                <div class="form-group">
                    <label><b>Título</b></label>
                    <input type="text"  class="form-control" placeholder="Mitocondria ejemplo 2" formControlName=title>
                </div>
                <br>
                <div class="form-group">
                    <label><b>Descripción</b></label>
                    <input type="text"  class="form-control" placeholder="Describe a la imagen" formControlName=desc>
                </div>
                <br>
                <div class="form-group">
                    <label><b>Palabras clave</b></label>
                    <mat-form-field class="example-chip-list" appearance="fill">
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let keyword of keywords" (removed)="remove(keyword)">
                                {{keyword}}
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                          <input placeholder="Introduce una etiqueta..."
                                 [matChipInputFor]="chipList"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                 [matChipInputAddOnBlur]="addOnBlur"
                                 (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label><b>Tipo de acceso</b></label><br>
                    <input type="radio" value="public" id="accesoPublico" name="access" formControlName="access">
                    &nbsp;<label for="accesoPublico" class="textoAyuda" data-bs-toggle="tooltip" title="Otros profesores podrán ver y utilizar tu pregunta">Público</label><br>
                    <input type="radio" value="private" id="accesoPrivado" name="access" formControlName="access">
                    &nbsp;<label for="accesoPrivado" class="textoAyuda" data-bs-toggle="tooltip" title="Solo tú podrás ver y utilizar tu pregunta">Privado</label>
                    
                </div>
                <br>
                <div class="form-group">
                    <label><b>Subir imagen (*.jpg)</b></label>
                    <input type="file" (change)="capturarFile($event)" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Agregar imagen</button>
            </div>
        </form>
        </div>
    </div>
</div>