<div class="container">
    <div class="card-group">
        <div class="col-12 col-lg-6">
            <div class="card text-center">
                <h4><strong>{{misDatosExamen.question}}</strong></h4>
                <img src={{ImagenesURL}} class="img-fluid rounded" alt="...">
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card align-items-center">
                <div class="card-body">
                    <div class="card-text">
                            <p class="text-center"><strong>Selecciona la respuesta correcta:</strong></p>

                          <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group" *ngFor="let OpcionesPregunta of misDatosExamen.opcions">
                            <input type="radio" class="btn-check" name="vbtn-radio" id={{itemizacionOpciones}}{{OpcionesPregunta.id}} autocomplete="off" (click)="guardarRespuesta(OpcionesPregunta.id)">
                            <label class="btn btn-outline-danger" for={{itemizacionOpciones}}{{OpcionesPregunta.id}}>{{OpcionesPregunta.opcion}}</label>
                          </div><br>
                        <div class="text-center" (click)="siguientePregunta()">
                            <button type="button" class="btn btn-primary">Siguiente pregunta</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>